/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

.shift-down {
  padding-top: 10vh;
}

.horizontal-spacer {
  height: 5vh;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card-header-text {
  margin: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
