<div class="container shift-down">
  <div fxLayoutAlign="center">
    <img src="assets/img/logo.png" alt="">
  </div>
  <div class="horizontal-spacer"></div>
  <div style="text-align: center; font-size: 100px;">
    <strong style="color: #3f51b5">Team</strong>
    <strong style="color: #ff7f27">Up</strong>
  </div>
  <div class="horizontal-spacer"></div>
  <div class="horizontal-spacer"></div>
  <mat-card>
    <mat-card-title>
      How to use it?
    </mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <h1>1. Create Account</h1>
      <p>When creating new account you will be asked to create your profile description and select the skills, which you have.</p>
      <mat-divider></mat-divider>
      <br>
      <h1>2.a Find a Project</h1>
      <p>If you want to contribute to other projects you can search for them and if they have active job offers you can apply and be accepted into the project or you can be personally invited by the administrators of one.</p>
      <mat-divider></mat-divider>
      <br>
      <h1>2.b Create a Project</h1>
      <p>If you have great idea, but you don't have enough teammates, you can find them here. Just create the new project and add suitable job postings or search for specified users.</p>
    </mat-card-content>
  </mat-card>
</div>


